---
import { getCollection } from 'astro:content';
import { Picture } from 'astro:assets';
import workingTogether from '@assets/working-together.jpg';
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection('team', ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<div id="about"></div>
<Container>
  <Sectionhead>
    <Fragment slot="title">Who</Fragment>
    <Fragment slot="desc">We are a small passionate team.</Fragment>
  </Sectionhead>

  <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-4">
    <div class="w-full">
      <Picture
        src={workingTogether}
        alt="Astronaut in the air"
        sizes="(max-width: 800px) 100vw, 400px"
        class="w-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
      />
    </div>
    <h2 class="font-bold text-3xl text-mandys-pink-400 mt-4">I'm Fred.</h2>
    <p class="text-lg leading-relaxed text-mandys-pink-400">
      I've worked supporting teams across businesses, small to multi-national. I
      run complex technical projects from discovery and design, to development
      and support. All the while, being known as the friendly, go-to fellow. My
      team extends this to cover almost any tech problem you might think of in a
      business.
    </p>
  </div>
</Container>
