---
// @ts-ignore
import { Icon } from 'astro-icon/components';

const features = [
  {
    title: 'Software Development',
    description:
      'Web apps & sites, mobile apps, ecommerce. Experience building complex solutions from the ground up.',
    icon: 'bx:bxs-window-alt',
  },
  {
    title: 'IT',
    description:
      'Productivity, networking, infrastructure and emails technologies.',
    icon: 'bx:bxs-briefcase',
  },
  {
    title: 'Admin',
    description:
      'Appointments & customer handling, personal assistance & project management.',
    icon: 'bx:bxs-briefcase',
  },
  {
    title: 'Tech',
    description: 'Backend systems, pipelines, data & security.',
    icon: 'bx:bxs-data',
  },
  {
    title: 'Organisation',
    description:
      'Paperwork processing, orders & invoice handling, accountancy suite assistance.',
    icon: 'bx:bxs-file-find',
  },
  {
    title: 'Branding, Graphic Design & Social Media',
    description:
      'Management of social media accounts, branding, logos, graphics, UI/UX design and all things visual.',
    icon: 'bx:bxs-paint',
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to move tech in your business forward.
  </h2>
  <p class="text-lg mt-4 text-mandys-pink-400">
    Fred can sit down with you and your team without friction to find the best
    ways to make improvements.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{' '}
          <p class="text-mandys-pink-400 mt-2 leading-relaxed">
            {item.description}
          </p>
        </div>
      </div>
    ))
  }
</div>
